.head {
    background-color: rgb(86, 86, 247);
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.container1 {
    border: solid;
    width: 500px;
    height: 1000px;

}


.container2 {
    border: solid;
    display: flex;
    flex-direction: column;

}


.weatherSection {
    
    position: relative;
    left: 550px;
    bottom: 880px;
    max-width: fit-content;
    color: white;

}

.databox {
    border-style: solid;
    border: 10px;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 20px;
    
}


.databoxContainer {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(86, 86, 247); */
}



.queryInput {
    margin-bottom: 20px;
}

.cityTitle {
    font-size: xx-large;
    color: rgb(0, 0, 0);
}


.currentSection {
    background-color: rgb(238, 185, 70);
    position: relative;
    left: 550px;
    bottom: 859px;
    max-width: fit-content;

}

.currentTitle {
    font-size: xx-large;
}

.lat, .long{
    color: black;
}